.section {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: 1fr;
  height: calc(100vh - 3rem);
  width: 100%;
}

.leftHalf {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: cadetblue;
  height: 100%;
  width: 100%;
}

.rightHalf {
  background-color: forestgreen;
  height: 100%;
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: cornflowerblue;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr;
}

.thumbnail {
  height: 15rem;
  width: 20rem;
}

.itemName {
  padding-left: 1rem;

  font-size: 2rem;
}
.itemPrice {
  place-self: end;
  font-size: 1.5rem;
}

.quantity {
  grid-column: 2;
  grid-row: 2;
}

@media (max-width: 1200px) {
  .card {
    background-color: white;
    grid-template-columns: auto 1fr;
    height: fit-content;
  }

  /* .itemName,
  .itemPrice,
  .quantity {
    grid-column: 2;
  } */

  .thumbnail {
    grid-column: 1;
    grid-row: 1 / 2;
    /* width: 100%; */
    /* height: 100%; */
  }

  .wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2, auto) 1fr;
  }

  .itemName {
    grid-column: 2;

    grid-row: 1;
  }
  .itemPrice {
    grid-column: 3;

    grid-row: 1;
  }
  .quantity {
    grid-column: 3;

    grid-row: 2;
    place-self: end;
  }

  .section {
    display: flex;
    flex-direction: column;
  }

  .rightHalf {
    height: 10rem;
  }

  .leftHalf {
    padding-bottom: 1rem;
  }
}

/* @media (max-width: 535px) {
  .card {
    background-color: yellow;
  }
} */
