.header-nav {
  display: flex;
  height: 3rem;
  width: 100%;
  justify-content: end;
}

nav > ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  text-decoration: none;
  padding-right: 1rem;

}
